

<mat-card>
    <mat-card-title>User Login</mat-card-title>
    <mat-card-content>
    <form class="example-form" [formGroup]="reactiveform" (ngSubmit)="SaveUser()">
        
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>EmailId</mat-label>
          <input matInput placeholder="Username" formControlName="emailId">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" type="password" formControlName="password">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm Password" type="password"  formControlName="confirmPassword" >
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="firstName">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="lastName">
          </mat-form-field>
        <div>
            <button mat-raised-button type="submit" color="primary">Register</button>
            <button mat-raised-button style="margin: 5px" color="accent" (click)="RedirectLogin()">Close</button>
        </div>
      </form>
     
      </mat-card-content>
</mat-card>
